/* Slider */

.slick-slider { position: relative; display: block; margin-bottom: 30px;}
.slick-list { overflow: hidden; display: block; margin: 0px; padding: 0px; }
.slick-track { position: relative; left: 0px; top: 0px; display: table;}
.slick-track:after { content: ""; display: table; clear: both; }
.slick-slide { float: left; height: 100%; min-height: 1px; }
.slick-slide img { display: block; }
.slick-slide { display: none; }
.slick-initialized .slick-slide { display: table-cell; }

/* Loading States */

.slick-loading .slick-track { visibility: hidden; }
.slick-loading .slick-list { background: #fff url(../img/ajax-loader.gif) center center no-repeat; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-slide.loading { background:  url(../img/ajax-loader.gif) center center no-repeat; position: relative;}

/* Arrows */

.slick-prev { position: absolute; background: url('../img/sprite.png') 0px 0px no-repeat; display: block; height: 20px; width: 20px; line-height: 0; font-size: 0; color: transparent;  top: 50%; margin-top: -10px; left: -25px; padding: 0px; }
.slick-next { position: absolute; background: url('../img/sprite.png') -20px 0px no-repeat; display: block; height: 20px; width: 20px; line-height: 0; font-size: 0; color: transparent; top: 50%; margin-top: -10px; right: -25px; padding: 0px; }
.slick-prev:focus { outline: none }
.slick-next:focus { outline: none }
.slick-prev.slick-disabled { background-position: 0px -20px }
.slick-next.slick-disabled { background-position: -20px -20px }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
    .slick-next { background: url('../img/sprite@2x.png') -90px -40px no-repeat; background-size: 80px 120px; }
    .slick-prev { background: url('../img/sprite@2x.png') -50px -40px no-repeat; background-size: 80px 120px; }
}

/* Dots */

.slick-dots { position: absolute; bottom: -35px; list-style: none; display: block; text-align: center; padding: 0px; width: 100%;}
.slick-dots li { position: relative; display: inline-block; background: url('../img/sprite.png') -20px -40px no-repeat; height: 20px; width: 20px; text-indent: -9999px; margin: 0px 5px; padding: 0px; }
.slick-dots li.slick-active { background-position: 0px -40px }
.slick-dots li a { display: block; height: 20px; width: 20px; outline: none }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
    .slick-dots li { background: url('../img/sprite@2x.png') -200px -50px no-repeat; background-size: 900px 200px; }
}

/* Draggable */

.slick-list.draggable { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }