* {
    box-sizing: border-box;
}
body, html {
    background: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 1;
    font-family: 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
code  {
    word-wrap:  break-word;
}
h1 {
    margin: 30px auto 10px;
    font-family: Pacifico;
    text-align: center;
    font-size: 72px;
    font-weight: 400;
    line-height: 1.2;
    color: #3498db;
}
h1.title {
    font-size: 96px;
}
h2 {
    font-family: Pacifico;
    margin: 20px auto;
    text-align: center;
    font-size: 36px;
}
h4 {
    font-family: Pacifico;
    margin: 20px auto;
    text-align: center;
    font-size: 28px;
}
.more {
    margin-top: 40px;
}
.subheading {
    font-size: 12px;
    margin: 10px auto 40px;
    font-weight: 400;
    font-style: italic;
    color: #555;
    text-align: center;
}
section {
    width: 100%}
.blue {
    background: #3498db;
    color: #fff;
}
.red {
    background: #e74c3c;
    color: #fff;
}
.white {
    background: #fff;
    color: #3498db;
}
.blue h3 {
    font-size: 36px;
    line-height: 100px;
    background: #fff;
    color: #3498db;
    margin: 10px;
    padding: 2%;
    text-align: center;
    position: relative;
}
pre {
    margin: 0 10px 20px;
    padding: 10px;
    background: #fff;
    word-wrap: break-word;
}
.white pre {
    background: #3498db;
}
.slick-slider {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}
.margin-40 {
    margin-bottom: 40px;
}
p {
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 40px;
}
.destroy {
    font-weight:  normal;
     margin-top:  40px;
}
.features {
    padding: 10px 0 0;
    text-align: center;
    display: block;
    list-style-type: none;
}
.features li {
    margin: 20px 0;
}
hr {
    border: 0;
    background: #fff;
    height: 1px;
    margin: 40px 0;
}
.white hr {
    background: #3498db;
}
table {
    width: 96%;
    margin: 40px 2% 40px;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
}
.content:after  {
     content:  "";
     display:  table;
     clear:  both;
 }
thead {
    background: #fff;
    color: #3498db;
    border-color: #3498db;
}
tbody {
    background: #fff;
    border-color: #fff;
}
tr {
    background: #fff;
    border-right: 1px solid #fff;
}
th {
    padding: 10px;
    border-left: 1px solid #3498db;
}
th:first-child {
    border-left: 0;
}
td {
    background: #3498db;
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
    width: 33%}
a {
    color: #3498db;
}
.button.first {
    margin-top:  40px;
}
.button {
    background: #3498db;
    color: #fff;
    padding: 20px;
    display: block;
     text-decoration: none;
    font-size: 16px;
    width: 48%;
    margin: 20px auto;
    text-align: center;
}
.buttons {
  padding: 0px 20px 20px;
}

.slick-slide img {
    width: 100%;
    display: block;
    border: 5px solid white;
}

.slick-slide .image {
    padding: 10px;
}

.buttons::after  {
     content:  "";
     display:  table;
     clear:  both;
 }

.buttons .button {
  background: white;
  color: #3498db;
  float: left;
  margin: 5px;
}

.filter .button {
  background: white;
  color: #3498db;
}

#disqus_thread {
    margin-top: 20px;
}

@media only screen and (min-width:769px) {
    .content {
    width: 600px;
    margin: auto;
    padding: 20px;
}
}@media only screen and (max-width:420px) {
    table {
    margin: 40px auto 20px;
    font-size: 10px;
}
}@media only screen and (max-width:768px) {
    .content {
     margin: auto;
    padding: 20px 40px;
}
.blue h3 {
    font-size: 24px;
}
pre {
    font-size: 10px;
}
.button {
     width:  auto;
     margin: 0 auto 20px;
}
.button.first {
    margin-top: 40px;
}

.buttons {
  padding: 0px 0px 20px;
}

.buttons .button {
  margin: 1%;
  float: left;
  width: 48%;
  font-size: 12px;
}

}