@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-controls {
    list-style: none;
    margin: 0;
    padding: 0;
}
.slick-arrow
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    background: transparent;
}
.slick-arrow:hover,
.slick-arrow:focus,
{
    color: transparent;
    background: transparent;
}
.slick-arrow:hover:before,
.slick-arrow:focus:before,
{
    opacity: 1;
}
.slick-arrow.slick-disabled:before
{
    opacity: .25;
}

.slick-arrow:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dot
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dot button
{
    width: 16px;
    height: 16px;
    text-indent: 16px;
    border-radius: 16px;
    border: none;
    background-color: #767676;
    position: relative;
    cursor: pointer;
}
.slick-dot button:hover,
.slick-dot button:focus
{
    outline: none;
}
.slick-dot button:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #fff;
    opacity: 0;
    position: absolute;
    left: 3px;
    top: 3px;
}
.slick-dot button:after {
    content: '';
    width: 16px;
    height: 2px;
    background: #767676;
    position: absolute;
    opacity: 0;
    bottom: -4px;
    left: 0;
}
.slick-dot:not(.slick-active):hover,
.slick-dot:not(.slick-active):focus {
    opacity: 0.8;
}
.slick-dot button:hover:after,
.slick-dot button:focus:after
{
    opacity: 1;
    cursor: pointer;
}
.slick-active button:before
{
    opacity: 1;
}
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal;
  @if support-legacy-browser(ie, "7") {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
}
  clip: rect(1px, 1px, 1px, 1px);