@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: #767676 !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: 0.75 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

@mixin reset-button($display: inline-block) {
    border: none;
    background: transparent;
    display: $display;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor:pointer;
}

@mixin visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal;
  @if support-legacy-browser(ie, "7") {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

.visually-hidden {
    @include visually-hidden();
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}

/* Icons */
@if $slick-font-family == "slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("slick.eot");
        src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}

/* Arrows */
.slick-controls {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slick-arrow {
    @include reset-button(block);
    position: absolute;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    &:hover, &:focus {
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
        .slick-initialized:not(.slick-accessible) & {
            outline: none;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-family: $slick-font-family;
        font-size: 20px;
        line-height: 1;
        color: $slick-arrow-color;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    left: -25px;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
    &:before {
        content: $slick-prev-character;
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    right: -25px;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
    &:before {
        content: $slick-next-character;
        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}

/* Pause/Play Button*/
.slick-pause {
    @include reset-button(inline-block);
    position: absolute;
    top: 100%;
    left: 16px;
    margin-top: calc(0.5em + 5px);
    z-index: 10;
    &.slick--playing {
        overflow: hidden;
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 4px;
            top: 2px;
            border-left: 14px solid #000;
            border-right: 14px solid transparent;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
        }
    }
    &.slick--paused {
        &:before,
        &:after {
            content: '';
            width: 6px;
            height: 16px;
            background: #000;
            display: block;
            position: absolute;
            top: 2px;
        }
        &:before {
            left: 2px;
        }
        &:after {
            right: 2px;
        }
    }
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
}

.slick-initialized:not(.slick-accessible) {
    .slick-dots {
        bottom: -25px;
        padding: 0;
    }
    .slick-dot {
        @include reset-button(inline-block);
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}

.slick-accessible {
    .slick-dots {
        top: 100%;
        padding: 0 25px;
        margin-top: 0.5em;
    }
    .slick-dot {
        position: relative;
        display: inline-block;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        &:not(.slick-active) {
            &:hover {
                opacity: $slick-opacity-on-hover;
            }
            button:focus {
                border-color: $slick-dot-color;
                opacity: $slick-opacity-on-hover;
            }
        }
        button {
            border: 3px solid transparent;
            border-radius: 4em;
            position: relative;
            cursor: pointer;
            padding: 0;
            .slick-initialized:not(.slick-accessible) & {
                outline: none;
            }
        }
    }
    .slick-dot-content {
        display: inline-block;
        font-size: 0.75rem;
        line-height: 1.5rem;
        min-width: 1.5rem;
        min-height: 1.5rem;
        background: #ddd;
        border-radius: 4em;
        color: #000;
    }
    .slick-dot-count {
        @include visually-hidden();
    }
    .slick-active {
        button {
            opacity: $slick-opacity-default;
            border-color: $slick-dot-color;
        }
    }
}
