@charset 'UTF-8';
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.slick-slide {
  margin: 0px 1em;
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}
.slick-slide img {
  width: 100%;
}

.slick-current {
  opacity: 1;
}

.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Arrows */
.slick-controls {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slick-arrow {
  border: none;
  background: transparent;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  transition: all ease-in-out 0.3s;
}
.slick-arrow:hover, .slick-arrow:focus {
  background: #fff;
  border-color: #000;
}
.slick-arrow:hover .ico, .slick-arrow:focus .ico {
  fill: #000;
}
.slick-arrow[aria-disabled=true] {
  opacity: 0.6;
}
.slick-arrow .ico {
  fill: #fff;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}

/* Pause/Play Button*/
.slick-pause {
  border: none;
  background: transparent;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 100%;
  left: 16px;
  margin-top: calc(0.5em + 5px);
  z-index: 10;
}
.slick-pause.slick--paused {
  overflow: hidden;
}
.slick-pause.slick--paused:after {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  top: 2px;
  border-left: 14px solid #000;
  border-right: 14px solid transparent;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.slick-pause.slick--playing:before, .slick-pause.slick--playing:after {
  content: "";
  width: 4px;
  height: 14px;
  background: #000;
  display: block;
  position: absolute;
  top: 3px;
}
.slick-pause.slick--playing:before {
  left: 4px;
}
.slick-pause.slick--playing:after {
  right: 4px;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
  margin: 0;
}

.slick-accessible .slick-dots {
  top: 100%;
  padding: 0 25px;
  margin-top: 0.5em;
}
.slick-accessible .slick-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
}
.slick-accessible .slick-dot.slick-active > span {
  border-color: #767676;
}
.slick-accessible .slick-dot:not(.slick-active) button:hover {
  opacity: 0.75;
}
.slick-accessible .slick-dot:not(.slick-active) button:focus {
  border-color: #767676;
  opacity: 0.75;
}
.slick-accessible .slick-dot > span,
.slick-accessible .slick-dot button {
  display: block;
  border: 3px solid transparent;
  border-radius: 4em;
  position: relative;
  padding: 0;
}
.slick-initialized:not(.slick-accessible) .slick-accessible .slick-dot > span,
.slick-initialized:not(.slick-accessible) .slick-accessible .slick-dot button {
  outline: none;
}
.slick-accessible .slick-dot button {
  cursor: pointer;
}
.slick-accessible .slick-dot-content {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1.5rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
  background: #ddd;
  border-radius: 4em;
  color: #000;
}
.slick-accessible .slick-dot-count {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
.slick-accessible .slick-active button {
  opacity: 1;
  border-color: #767676;
}